* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  background: #002451;
  color: white;
  margin: 0 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 20px;
}
.navbar h1 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  align-self: center;
  letter-spacing: 2px;
}
button:hover {
  cursor: pointer;
}
.div-button button {
  border: 2px solid #777777;
  border-radius: 10px;
  padding: 4px 12px;
  margin: 0 10px;
  background-color: #111111;
  color: white;
  font-weight: bold;
  transition: 2s ease-out 100ms
}

.big-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}
#descs-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0px auto;
  margin-top: 100px;
  text-align: center;
  font-size: 24px;
}
#scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  scroll-behavior: smooth;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#scroll span:hover {
  cursor: pointer;
}
#scroll span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin: -5px;
  animation: animate 2s infinite;
}
#scroll span:nth-child(2) {
  animation-delay: -0.2s;
}
#scroll span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.descs-text span {
  color: white;
}
.tools-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 50px;
}
.dev-tools {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.tools-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tools-container p {
  position: absolute;
  top: 25px;
}
.projects-tools {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}
#real-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 350px;
  margin: 0px auto;
  margin-top: -60px;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", 
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.projects-links {
  border: 2px solid #777777;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #111111;
  color: white;
  font-weight: bold;
  margin: 10px;
}
.projects {
  width: 95%;
  height: 400px;
  border-top: 2px solid #777777;
}
#visit-site{
  background-color: #777777;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 10px 0px;
}
#visit-site a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.community {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0px auto;
  margin-top: 100px;
  text-align: center;
  font-size: 24px;
}
.gmail {
  text-align: center;
  margin-top: 200px;
}
#footer {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.contact {
  display: flex;
  margin-left: 44px;
}
.contact button {
  outline: none;
  border: 2px solid white;
  background-color: #111111;
  padding: 10px 25px;
  font-weight: 600;
  margin-left: 20px;
  border-radius: 20px;
  color: white;
}
.nav-contact a{
  text-decoration: none;
  color: white;
}
.contact button a{
  text-decoration: none;
  color: white;
}
.gmail h2 a{
  text-decoration: none;
  color: white;
}
@media (max-width: 700px) {
  body {
    background: #002451;
    color: white;
    /* margin: 0 50px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .button {
    display: flex;
  }
  .dev-tools {
    display: grid;
    grid-template-columns: 250px 250px;
  }
  .tools-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #real-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .big-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }
  .descs-text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-top: 30px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 30px; */
  }
  h2 {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
  }
  .hamburger-menu {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
  }
  .navbar-menu {
    display: flex;
    justify-content: flex-end;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
    padding: 10px;
  }
  .line {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 3px auto;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .modal-content {
    background-color: hsl(71, 94%, 51%);
    padding: 100%;
    border-radius: 5px;
    list-style: none;
  }
  .modal-content ul li {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
  }
  .modal-content a {
    cursor: pointer;
    text-decoration: none;
  }
  .close {
    display: flex;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50px;
    top: -120px;
    right: -150px;
  }
  .div-button button {
    display: none;
    border: 2px solid #777777;
    border-radius: 10px;
    padding: 4px 12px;
    margin: 0 10px;
    background-color: #111111;
    color: white;
    font-weight: bold;
  }
  .visit-project{
    width: 300px;
    background: #777777;
    color: white;
  }
}
@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background: #002451;
    color: white;
    /* margin: 0 50px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .dev-tools {
    display: grid;
    margin: 0px -50px;
    grid-template-columns: auto auto;
  }
  #real-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .big-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }
  #descs-text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-top: 30px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
  }
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
  }
  h2 {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
  }
  .contact button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 20px;
    background: #002451;
    color: white;
    border: 2px solid white;
    background-color: #111111;
    /* outline: none; */
  }
  .contact {
    display: flex;
  }
  .footer {
    display: flex;
  }
  .hamburger-menu {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
  }
  .navbar-menu {
    display: flex;
    justify-content: flex-end;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
    padding: 10px;
  }
  .line {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 3px auto;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .modal-content {
    background-color: hsl(71, 94%, 51%);
    padding: 100%;
    border-radius: 5px;
    list-style: none;
  }
  .modal-content ul li {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
  }
  .modal-content a {
    cursor: pointer;
    text-decoration: none;
  }
  .close {
    display: flex;
    top: -120px;
    right: -100px;
  }
}
